* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body {
	background-image: url(images/backgroun_white.svg);
	background-size: auto;
	font-family: "Roboto", sans-serif;
}
nav {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
